/roam.db
/tests/integration_tests/.venv/
/build/
/philo/philo
/roam/roam.db
/tests/integration_tests/__pycache__/*.pyc
/tests/scenarios/__pycache__/*.pyc
/philosophers
/.cache/
/philo/.cache/
/philo/build/
/philo/compile_commands.json
/mutex_tests/a.out
/philo_bonus/philo
/philo/__pycache__/
